<table>
  <tbody>
    <tr>
      <th><%= t(:url_name) %></th>
      <td>
        <input type="text" id="spring_url" 
                           value="<%= settings['spring_url'] %>" 
                           name="settings[spring_url]" >
      </td>
    </tr>
  </tbody>
</table>